<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Make your link smlr!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
           crossorigin="anonymous" />
</head>
<body style="padding: 50px; vertical-align: middle">
    <form action="addhtml" method="post">
        <div class="jumbotron">
            <h1 class="text-center">Try Smlr!</h1>
            <p class="text-center"> xxx </p>
            <div class="col-lg-6">
                <div class="imput-group text-center">
                    <input type="text" class="form-control" placeholder="YYY" name="link" />
                    <span class="input-group-btn">
                        <button class="btn btn-dafault" type="submit">Smlr!</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</body>
</html>